@charset "UTF-8";

/* GENERAL: */
* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-size: 100%;
    background: #fff;
}

body {
    margin: 0;
    background: transparent;
    font-family: 'Mina', sans-serif;
    width: 100%;
    max-width: 1920px;
    overflow-x: hidden;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

img {
    max-width: 100%;
}

input,
button {
    font-family: 'Mina';
}

/* text gradient */
@supports (-webkit-background-clip:text) {
    .text-content {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        background-image: -moz-linear-gradient(left, #8356ef 0%, #8356ef 30%, #7b59ec 60%, #1676db 80%, #027bcc 100%);
        background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #8356ef), color-stop(100%, #027bcc));
        background-image: -webkit-linear-gradient(left, #8356ef 0%, #8356ef 30%, #7b59ec 60%, #1676db 80%, #027bcc 100%);
        background-image: -o-linear-gradient(left, #8356ef 0%, #8356ef 30%, #7b59ec 60%, #1676db 80%, #027bcc 100%);
        background-image: -ms-linear-gradient(left, #8356ef 0%, #8356ef 30%, #7b59ec 60%, #1676db 80%, #027bcc 100%);
        background-image: linear-gradient(to right, #8356ef 0%, #8356ef 30%, #7b59ec 60%, #1676db 80%, #027bcc 100%);
    }
}

/* NAVIGATION: */
.navbar {
    height: 80px;
    background: #fff;
    transition: ease 0.45s;
}

.navbar .navbar-brand {
    font-weight: 800;
    color: #8c8c8c;
    margin-top: -5px;
    transition: ease 0.45s;
}

.navbar-collapse {
    justify-content: flex-end;
    position: absolute;
    top: 0px;
    right: 0px;
}

.navbar-nav {
    box-shadow: 0px 15px 35px -12px rgba(0, 0, 0.6, 0.6);
    border-bottom-left-radius: 20px;
    border-bottom: 2px solid #c1c1c1;
    border-left: 2px solid #c1c1c1;
}

.navbar-collapse .nav-item {
    padding: 0px 20px 0px 20px;
    font-size: 0.8em;
    font-weight: 600;
    border-right: 2px solid #c1c1c1;
}

.navbar-collapse .nav-item a {
    color: #666666;
    transition: ease 0.45s;
}

.navbar-collapse .nav-item a:hover, .navbar-collapse .nav-item a:focus, .navbar-collapse .nav-item a:active {
    text-decoration: none;
    color: #414141;
}

.navbar .navbar-toggler {
    top: 12px;
}

.nav-item_contact {
    margin-top: -2%;
    margin-bottom: -2%;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

@media (min-width: 992px) {
    .navbar-collapse .nav-item a {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        position: relative;
        overflow: hidden;
        padding: 10px 5px 10px 5px;
    }
}

/* SUBNAVIGATION */
.subnavigation {
    background-image: linear-gradient(to right, #8356ef, #8356ef, #7b59ec, #1676db, #027bcc);
}

.subnavigation__col {
    align-items: center;
}

.btn-secondary {
    background: transparent;
    border: none;
    box-shadow: none;
    color: #fff;
    text-transform: uppercase;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 0.94rem;
    line-height: 13px;
    font-family: 'Mina';
}

.btn-secondary.active,
.btn-secondary:active,
.show > .btn-secondary.dropdown-toggle,
.btn-secondary:hover {
    background: transparent;
    border: none;
    box-shadow: none;
    color: #fff;
    text-transform: uppercase;
}

.subnavigation__search,
.subnavigation__search input,
.subnavigation__search button {
    background: #fff;
    border: none;
}

.subnavigation__search button {
    float: right;
}

.fa-search {
    color: #5F65E8;
}

.subnavigation__account {
    font-size: 0.8rem;
    color: #fff;
    display: flex;
    justify-content: center;
}

.subnavigation__account p {
    align-items: center;
    display: flex;
}

.subnavigation__basket {
    font-size: 0.8rem;
    color: #fff;
    display: flex;
    justify-content: center;
}

.subnavigation__basket p {
    align-items: center;
    display: flex;
}

/* BREADCRUMB */
.breadcrumb {
    background: transparent;
}

.breadcrumb li {
    font-size: 0.9rem;
    color: #666666;
}

.breadcrumb li a {
    color: #666666;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: url("../images/ikonki/_.png");
}

/* PRODUCT */
.product {
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 15px 50px -15px rgba(0, 0, 0, 0.4);
}

.product__main {
    border: 0.5px solid #027bcc;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #fff;
    position: relative;
    z-index: 1;
}

.product__main:before {
    width: 0;
    height: 0;
    border-bottom: 30px solid #fff;
    border-left: 30px solid #fff;
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    z-index: -1;
    border-bottom: 30px solid #fff;
    border-left: 30px solid #148ad6;
}

.product__main_layer {
    background: #fff;
    background: linear-gradient(135deg, transparent 10px, #fff 0) top left,
    linear-gradient(225deg, transparent 10px, #fff 0) top right,
    linear-gradient(315deg, transparent 20px, #fff 0) bottom right,
    linear-gradient(45deg, transparent 10px, #fff 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    margin: 1% 0.1% 0.1% 1%;
}

.product_line {
    border-right: 2px solid #d8d8d8;
}

.slider-nav img {
    max-width: 70%;
}

.product__main_col {
    padding: 30px;
}

.product__main_col h4 {
    font-weight: bold;
}

.slick-prev {
    background: url("../images/left.png") no-repeat scroll 0 0 transparent !important;
    height: 73px !important;
    width: 36px !important;
    position: absolute !important;
    top: 125% !important;
}

.slick-next {
    background: url("../images/right.png") no-repeat scroll 0 0 transparent !important;
    height: 73px !important;
    width: 36px !important;
    position: absolute !important;
    top: 125% !important;
}

.product__main_list {
    font-size: 0.8rem;
}

.product__main_list_left {
    float: right;
}

.product__main_list_right {
    font-weight: 600;
}

.product_logo {
    position: absolute;
    bottom: 0%;
    right: 5%;
}

.product__links {
    width: 80%;
    padding-top: 2%;
}

.product__links ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-left: 0px;
}

.product__links li a,
.product__links li {
    font-size: 0.95rem;
    line-height: 13px;
    color: #6a6a6a;
    font-weight: 400;
}

.product__links li a:hover,
.product__links li:hover {
    background: linear-gradient(to right, #8356ef 0%, #027bcc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product__links ul img {
    width: 80%;
}

.product__variations {
    text-align: right;
}

.product__variations_delivery {
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

/* DESCRIPTION */
.description {
    padding-top: 2%;
}

.description__col {
    padding: 0% 5% 0% 5%;
}

.description__title {
    text-align: center;
}

.description__title h1 {
    color: #000000;
    font-weight: 400;
    font-size: 2.8rem;
    font-family: "Mina";
}

.description__content {
    text-align: justify;
}

.description__content p {
    font-size: 1.5rem;
    line-height: 30px;
    color: #000000;
    font-weight: 400;
}

.description_img {
    text-align: center;
}

/* SPECIFICATION */
.blue_line {
    width: 100%;
    height: 2px;
    background: #5daee2;
    margin-bottom: 1rem;
    position: relative;
}

.blue_line:before {
    transform: translateX(-50%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid #6b5eea;
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
}

.blue_line:after {
    position: absolute;
    content: "";
    height: 3px;
    background-image: linear-gradient(to right, #8356ef, #8356ef, #7b59ec, #1676db, #027bcc);
    width: 15%;
    top: 50%;
    transform: translateX(-50%);
    left: 50%;
}

.specification__title {
    justify-content: center;
}

.specification_list_left {
    text-align: right;
    width: 50%;
}

.specification_list_right {
    font-weight: 600;
    text-align: left;
}

.specification__title p {
    margin-bottom: 0.5rem;
}

/* WARRANTY */
.warranty__title {
    justify-content: center;
}

.warranty__title p {
    margin-bottom: 0.5rem;
}

/* SIMILAR PRODUCTS */
.similar_products__title {
    justify-content: center;
}

.similar_products__title p {
    margin-bottom: 0.5rem;
}

/* NEWSLETTER */
.newsletter__title :before {
    content: "\5d";
    margin-right: 15px;
    font-size: 1.619em;
    vertical-align: middle;
}

/* PRE-FOOTER */

/* FOOTER */
footer {
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 20px 0;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
}

footer .footer-inner .footer-inner-text {
    color: #fff;
    font-size: 0.8em;
}

footer .footer-inner .footer-inner-text .underline {
    text-decoration: underline;
}

footer span {
    margin: 5px 0;
}

footer .bspan {
    font-weight: 600;
}