@media (min-width: 1200px) {

}


@media (min-width: 1366px) {

}


@media (min-width: 1440px) {

}


@media (min-width: 1920px) {

}


@media (min-width: 1200px) {

}

@media (max-width: 1199px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-collapse .nav-item {
        font-size: 0.6em;
    }
}

@media (min-width: 992px) {
    .nav_mobile {
        display: none;
    }

    .product__main_title_rwd {
        display: none;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        background: #fff;
        margin-top: 10px;
        text-align: center;
        border: 1px solid #868484;
    }

    .navbar-brand img {
        width: 60%;
    }

    .navbar-toggler-right {
        left: 1rem;
    }

    .subnavigation {
        display: none;
    }

    .nav_mobile {
        display: flex;
        justify-content: space-around;
        line-height: 9px;
        margin-top: 3%;
    }

    .slider-nav {
        display: none;
    }

    .slick-slide img {
        margin-left: auto;
        margin-right: auto;
    }

    .product__main_title {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .pre-footer .pre-footer-inner .pre-footer-list button {
        padding: 10px 35px;
    }
}

@media (max-width: 767px) {
    .footer-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pre-footer .pre-footer-inner {
        text-align: center;
    }

    .slick-prev {
        left: 20px;
        z-index: 10;
    }

    .slick-next {
        right: 20px;
        z-index: 10;
    }
}

@media (max-width: 575px) {
    .navbar .container {
        margin-left: 0;
        margin-right: 0;
    }
}